In [3]:
import pandas as pd

# File import
df = pd.read_csv("winners_f1_1950_2025_v2.csv")

In [4]:
#Dataset first impressions:
print(df.head())
df.tail(5)

         date      continent     grand_prix                       circuit  \
0  1950-05-13         Europe  Great Britain           Silverstone Circuit
1  1950-05-21         Europe         Monaco             Circuit de Monaco
2  1950-05-30  North America  United States   Indianapolis Motor Speedway
3  1950-06-04         Europe    Switzerland            Circuit Bremgarten
4  1950-06-18         Europe        Belgium  Circuit de Spa Francorchamps

          winner_name                      team      time   laps  year
0         Nino Farina                Alfa Romeo  02:13:23   70.0  1950
1  Juan Manuel Fangio                Alfa Romeo  03:13:18  100.0  1950
2     Johnnie Parsons  Kurtis Kraft Offenhauser  02:46:55  138.0  1950
3         Nino Farina                Alfa Romeo  02:02:53   42.0  1950
4  Juan Manuel Fangio                Alfa Romeo  02:47:26   35.0  1950

,date,continent,grand_prix,circuit,winner_name,team,time,laps,year
1137,2025-06-15,North America,Canada,Circuit Gilles Villeneuve,George Russell,Mercedes,01:31:52,70.0,2025
1138,2025-06-29,Europe,Austria,Red Bull Ring,Lando Norris,McLaren,01:23:47,70.0,2025
1139,2025-07-06,Europe,Great Britain,Silverstone Circuit,Lando Norris,McLaren,01:37:15,52.0,2025
1140,2025-07-27,Europe,Belgium,Circuit de Spa Francorchamps,Oscar Piastri,McLaren,01:25:22,44.0,2025
1141,2025-08-03,Europe,Hungary,Hungaroring,Lando Norris,McLaren,01:35:21,70.0,2025

In [5]:
# Veryfing data types

print(df.dtypes)

# Dataset size

print("The size of the dataset is: ",(df.shape))

date            object
continent       object
grand_prix      object
circuit         object
winner_name     object
team            object
time            object
laps           float64
year             int64
dtype: object
The size of the dataset is:  (1142, 9)

In [6]:
# ! I have verified that the 'date' and 'time' columns are in string format,
# which makes our analysis difficult.

# Converting the "date" column to datetime format.

df['date'] = pd.to_datetime(df['date'])

# Converting the "date" column to timedelta format.

df['time'] = pd.to_timedelta(df['time'], errors='coerce')

In [7]:
# Any null values?

df.isnull().sum()

date           0
continent      0
grand_prix     0
circuit        0
winner_name    0
team           0
time           2
laps           0
year           0
dtype: int64

In [8]:
# "time" columns has null values, so:

# Handling nulls:

# Convert the 'time' column to timedelta type, forcing invalid values to become nulls.

df['time'] = pd.to_timedelta(df['time'], errors='coerce')

# Fill the null (NaT) values in the 'time' column with a 0-second timedelta.

df['time'] = df['time'].fillna(pd.Timedelta(seconds=0))

# Veryfing nulls
print(df.isnull().sum())

date           0
continent      0
grand_prix     0
circuit        0
winner_name    0
team           0
time           0
laps           0
year           0
dtype: int64

In [9]:
# Checking to see if the 'time' column is in a suitable format to work with:
print(df['time'])

# Creating a "seconds" column (necessary in the future)
df['time_segundos'] = df['time'].dt.total_seconds()

0      0 days 02:13:23
1      0 days 03:13:18
2      0 days 02:46:55
3      0 days 02:02:53
4      0 days 02:47:26
             ...
1137   0 days 01:31:52
1138   0 days 01:23:47
1139   0 days 01:37:15
1140   0 days 01:25:22
1141   0 days 01:35:21
Name: time, Length: 1142, dtype: timedelta64[ns]